{% extends "base.html" %}
{% load static %}

{% block title %}Remove Group Group Membership{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">


      <h2>Remove Group Group Membership</h2>

      <h2>{{ object }}</h2>

      <p>Are you sure you want to remove <a href="{{ object.child_group.get_absolute_url }}">{{ object.child_group }}</a> from <a href="{{ object.parent_group.get_absolute_url }}">{{ object.parent_group }}</a> on AnVIL?</p>

      <form method="POST">{% csrf_token %}
          {{ form }}
          <input type="submit" class="btn btn-danger" value="Yes, remove"/>
          <a href="{{ object.get_absolute_url }}" class="btn btn-secondary" role="button">
          No, cancel</a>
      </form>

    </div>
  </div>


</div>
{% endblock content %}
