{% extends "base.html" %}
{% load static %}

{% load render_table from django_tables2 %}

{% block title %}Group: {{ object.name }}{% endblock %}

{% block content %}

<h2>Group Details</h2>
<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Name: {{ object.name }}</li>
    <li>Is managed by app? {{ object.is_managed_by_app }}</li>
  </ul>
</div>




<div class="my-3">
  <div class="accordion" id="accordionWorkspaces">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingWorkspacesOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkspacesOne" aria-expanded="false" aria-controls="collapseWorkspacesOne">
          View workspaces that this group has access to
          <span class="badge mx-2 bg-secondary pill"> {{ workspace_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseWorkspacesOne" class="accordion-collapse collapse" aria-labelledby="headingWorkspacesOne" data-bs-parent="#accordionWorkspaces">
        <div class="accordion-body">
          {% render_table workspace_table %}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="my-3">
  <div class="accordion" id="accordionMembers">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMembersOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMembersOne" aria-expanded="false" aria-controls="collapseMembersOne">
          View group members
          <span class="badge mx-2 bg-secondary pill"> {{ group_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseMembersOne" class="accordion-collapse collapse" aria-labelledby="headingMembersOne">
        <div class="accordion-body">
          {% render_table group_table %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMembersTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMembersTwo" aria-expanded="false" aria-controls="collapseMembersTwo">
          View account members
          <span class="badge mx-2 bg-secondary pill"> {{ account_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseMembersTwo" class="accordion-collapse collapse" aria-labelledby="headingMembersTwo">
        <div class="accordion-body">
          {% render_table account_table %}
        </div>
      </div>
    </div>

  </div>
</div>




<p>
  <a href="{% url 'anvil_project_manager:groups:delete' pk=object.pk %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
</p>

{% endblock content %}
