{% extends "base.html" %}
{% load static %}

{% block title %}Managed Group account membership: {{ object }}{% endblock %}

{% block content %}

<h2>Managed Group Account Membership Details</h2>
<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Group: <a href="{{object.group.get_absolute_url}}"> {{ object.group}} </a></li>
    <li>Account: <a href="{{object.account.get_absolute_url}}"> {{ object.account}} </a></li>
    <li>Role: {{ object.role }}</li>
  </ul>
</div>

<p>
  <a href="{% url 'anvil_project_manager:group_account_membership:delete' pk=object.pk %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
</p>

{% endblock content %}
