{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modify Managed Group Account Membership{% endblock title %}

{% block content %}

  <h2>Modify Managed Group Account Membership Role</h2>

  <ul>
    <li>Managed Group: {{ object.group }}</li>
    <li>Account: {{ object.account }}</li>
    <li>Role: {{ object.role }}</li>
  </ul>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save membership</button>
  </form>
{% endblock %}
