{% extends "base.html" %}
{% load static %}

{% block title %}AnVIL Status{% endblock %}

{% block content %}

<h2>AnVIL Status</h2>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>API user: <code>{{ anvil_user }}</code></li>
    <li>Overall status: <code>{{ anvil_status }}</code></li>
  </ul>
</div>



<div class="card">
  <h4 class="card-header">
    System status
  </h4>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-1" scope="col">System</th>
          <th class="col-sm-11" scope="col">Status</th>
        </tr>
      </thead>

      <tbody>
        {% for system, status in anvil_systems_status.items %}
          <tr>
            <td>{{ system }}</td>
            <td><code>{{ status }}</code></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>


{% endblock content %}
