{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}

{% load render_table from django_tables2 %}


{% block title %}Account: {{ object.email }}{% endblock %}


{% block pills %}
  {% if object.is_service_account %}
    <span class="badge bg-info">
      <span class="fa-solid fa-robot me-1"></span>
      Service account
    </span>
  {% endif %}
  {% if object.user and object.verified_email_entry %}
    <span class="badge bg-success">
      <span class="fa-solid fa-user-check me-1"></span>
      Verified by user
    </span>
  {% endif %}
  {% if is_inactive %}
    <div class="my-3 alert alert-dark" role="alert">
    This account is inactive
    </div>
  {% endif %}
{% endblock pills %}


{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Email</dt> <dd class="col-sm-10">{{ object.email }}</dd>
  <dt class="col-sm-2">Status</dt> <dd class="col-sm-10">{{ object.get_status_display }}</dd>
  <dt class="col-sm-2">User</dt> <dd class="col-sm-10">
    {% if object.user and object.verified_email_entry %}
      {% if object.verified_email_entry.user.get_absolute_url %}
        <a href="{{ object.verified_email_entry.user.get_absolute_url }}">{{ object.verified_email_entry.user }}</a>
      {% else %}
        {{ object.verified_email_entry.user }}
      {% endif %}
    {% else %}
      &mdash;
    {% endif %}
  </dd>
  <dt class="col-sm-2">Date verified</dt> <dd class="col-sm-10">{% if object.user and object.verified_email_entry %}{{ object.verified_email_entry.date_verified }}{% else %} &mdash; {% endif %}</dd>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
</dl>

{% endblock panel %}


{% block after_panel %}
{% if object.unlinked_users.count %}
<div class="card">
  <div class="card-body bg-light">
    <h5 class="card-title"><span class="fa-solid fa-link-slash mx-2"></span> Unlinked users</h5>
    <p class="card-text">Ths account was previously linked to the following user(s):</p>
  </div>
  <ul class="list-group list-group-flush">
      {% for unlinked_user in object.unlinked_users.all %}
        <li class="list-group-item">
          <a href="{{ unlinked_user.get_absolute_url }}">{{ unlinked_user }}</a>
        </li>
      {% endfor %}
  </ul>
</div>
{% endif %}

  <div class="my-3">
    <div class="accordion" id="accordionGroups">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingGroupsOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupsOne" aria-expanded="false" aria-controls="collapseGroupsOne">
            <span class="fa-solid fa-user-group mx-2"></span>
            View groups that this account is a member of
            <span class="badge mx-2 bg-secondary pill"> {{ group_table.rows|length }}</span>
          </button>
        </h2>
        <div id="collapseGroupsOne" class="accordion-collapse collapse" aria-labelledby="headingGroupsOne" data-bs-parent="#accordionGroups">
          <div class="accordion-body">
            <p>
              This table shows groups that the Account is directly in, either as a member or as an admin.
            </p>

            {% render_table group_table %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    <div class="accordion" id="accordionAccessibleWorkspaces">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingAccessibleWorkspacesOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccessibleWorkspacesOne" aria-expanded="false" aria-controls="collapseAccessibleWorkspacesOne">
            <span class="fa-solid fa-user-group mx-2"></span>
            View workspaces that this account can access
            <span class="badge mx-2 bg-secondary pill"> {{ accessible_workspace_table.rows|length }}</span>
          </button>
        </h2>
        <div id="collapseAccessibleWorkspacesOne" class="accordion-collapse collapse" aria-labelledby="headingAccessibleWorkspacesOne" data-bs-parent="#accordionAccessibleWorkspaces">
          <div class="accordion-body">
            <p>
              This table shows sharing records for Workspaces that the Account can access.
              To be able to access a Workspace, a user must be a member of all authorization domains for that Workspace and the Workspace must be shared with a Managed Group that they are part of.
              If a Workspace is shared with one Managed Group as a Reader and a second Managed Group as a writer, both records will appear in the table.
            </p>

            {% render_table accessible_workspace_table %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    <div class="accordion" id="accordionUnknownAccessWorkspaces">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingUnknownAccessWorkspacesOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnknownAccessWorkspacesOne" aria-expanded="false" aria-controls="collapseUnknownAccessWorkspacesOne">
            <span class="fa-solid fa-user-group mx-2"></span>
            View workspaces with unknown access
            <span class="badge mx-2 bg-secondary pill"> {{ unknown_access_workspace_table.rows|length }}</span>
          </button>
        </h2>
        <div id="collapseUnknownAccessWorkspacesOne" class="accordion-collapse collapse" aria-labelledby="headingUnknownAccessWorkspacesOne" data-bs-parent="#accordionUnknownAccessWorkspaces">
          <div class="accordion-body">
            <p>
              This table shows Workspaces that the Account may have access to, but the app cannot determine if they do.
              In the following cases, the app cannot determine access:
              <ul>
                <li>The Workspace is shared with a group that is not managed by this app</li>
                <li>At least one of the Workspace's authorization domains is not managed by this app</li>
              </ul>
              The "Is shared?" and "In auth domain?" columns display a red question mark when the app cannot determine access due to sharing or authorization domain membership, respectively.
            </p>
            {% render_table unknown_access_workspace_table %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock after_panel %}


{% block action_buttons %}
  {% if show_edit_links %}
  <p>
    <a href="{% url 'anvil_consortium_manager:accounts:add_to_group' uuid=object.uuid %}" class="btn btn-primary" role="button">Add this account to a group</a>
  </p>
  <p>
    <a href="{% url 'anvil_consortium_manager:accounts:update' uuid=object.uuid %}" class="btn btn-secondary" role="button">Update</a>
    {% if show_deactivate_button %}
      <a href="{% url 'anvil_consortium_manager:accounts:deactivate' uuid=object.uuid %}" class="btn btn-secondary" role="button">Deactivate account</a>
    {% endif %}
    {% if show_reactivate_button %}
      <a href="{% url 'anvil_consortium_manager:accounts:reactivate' uuid=object.uuid %}" class="btn btn-secondary" role="button">Reactivate account</a>
    {% endif %}
    {% if show_unlink_button %}
      <a href="{% url 'anvil_consortium_manager:accounts:unlink' uuid=object.uuid %}" class="btn btn-secondary" role="button">Unlink user</a>
    {% endif %}
    <a href="{% url 'anvil_consortium_manager:accounts:delete' uuid=object.uuid %}" class="btn btn-danger" role="button">Delete from app</a>
  </p>
{% endif %}

{% endblock action_buttons %}
