{% extends "anvil_consortium_manager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Link AnVIL account{% endblock title %}

{% block content %}
<h2>Link your AnVIL account</h2>

<p>
To link your AnVIL account, enter your email associated with your AnVIL account below.
If you are having difficulty, please confirm that you can log into <a href="https://anvil.terra.bio/">AnVIL</a> with this email.
Service accounts cannot be linked to a user.
</p>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}
