{% extends "anvil_consortium_manager/base.html" %}
{% load static %}
{% load tz %}
{% load render_table from django_tables2 %}

{% block title %}
{% endblock %}


{% block content %}

{% block main_header %}
{% endblock main_header %}

{% if audit_ok %}
<div class="alert alert-success" role="alert">
  AnVIL audit did not detect any errors as of {{audit_timestamp|localtime}}.
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  AnVIL audit detected errors as of {{audit_timestamp|localtime}}.
</div>
{% endif %}

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  {% block audit_explanation %}
  {% endblock audit_explanation %}
</div>

{% block verified_table %}
<div class="my-3">
  <div class="accordion" id="accordionVerified">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingVerifiedOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVerifiedOne" aria-expanded="falase" aria-controls="collapseVerifiedOne">
          <span class="fa-solid fa-circle-check mx-2"></span>
          Verified
          <span class="badge mx-2 {% if verified_table.rows %}bg-success{% else %}bg-secondary{% endif %} pill"> {{ verified_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseVerifiedOne" class="accordion-collapse collapse" aria-labelledby="headingVerifiedOne" data-bs-parent="#accordionVerified">
        <div class="accordion-body">

          <p>This table shows the number of records in the app that were verified against AnVIL.</p>

          {% render_table verified_table %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock verified_table %}

{% block errors_table %}
<div class="my-3">
  <div class="accordion" id="accordionErrors">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingErrorsOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseErrorsOne" aria-expanded="false" aria-controls="collapseErrorsOne">
          <span class="fa-solid fa-triangle-exclamation mx-2"></span>
          Errors

          <span class="badge mx-2 {% if error_table.rows %}bg-danger{% else %}bg-secondary{% endif %} pill"> {{ error_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseErrorsOne" class="accordion-collapse collapse" aria-labelledby="headingErrorsOne" data-bs-parent="#accordionErrors">
        <div class="accordion-body">

          <p>This table shows the number of records that had errors when verifying information in the app against AnVIL.</p>

          {% render_table error_table %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock errors_table %}

{% block not_in_app %}
<div class="my-3">
  <div class="accordion" id="accordionNotInApp">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNotInAppOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNotInAppOne" aria-expanded="false" aria-controls="collapseNotInAppOne">
          <span class="fa-solid fa-circle-question mx-2"></span>
          Not in app
          <span class="badge mx-2 {% if not_in_app_table.rows %}bg-warning{% else %}bg-secondary{% endif %} pill"> {{ not_in_app_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseNotInAppOne" class="accordion-collapse collapse" aria-labelledby="headingNotInAppOne" data-bs-parent="#accordionNotInApp">
        <div class="accordion-body">

          <p>This table shows identifiers for the records that exist in AnVIL but not in the app.</p>

          {% render_table not_in_app_table %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock not_in_app %}

{% block ignored %}
<div class="my-3">
  <div class="accordion" id="accordionIgnored">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingIgnored">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIgnoredOne" aria-expanded="false" aria-controls="collapseIgnoredOne">
          <span class="fa-solid fa-eye-slash mx-2"></span>
          Ignored
          <span class="badge mx-2 {% if ignored_table.rows|length %}bg-info{% else %}bg-secondary{% endif %} pill"> {{ ignored_table.rows|length }}</span>
        </button>
      </h2>
      <div id="collapseIgnoredOne" class="accordion-collapse collapse" aria-labelledby="headingIgnoredOne" data-bs-parent="#accordionIgnored">
        <div class="accordion-body">

          <p>This table shows any "not in app" records that have been marked as ignored.</p>

          {% render_table ignored_table %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock ignored %}


{% endblock content %}
