{% extends "anvil_consortium_manager/base.html" %}
{% load static %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Billing Projects{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Billing Projects</h2>

      <div class="my-3 p-3 bg-light border rounded shadow-sm">
        <form method="get">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

      {% render_table table %}

    </div>
  </div>

</div>

{% endblock content %}
