{% extends "anvil_consortium_manager/billingproject_detail.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Billing Project{% endblock title %}

{% block panel %}
  <ul>
    <li>Name: {{ object.name }}</li>
    <li>Date created: {{ object.created }}</li>
    <li>Date modified: {{ object.modified }}</li>
  </ul>
{% endblock panel %}

{% block after_panel %}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary" role="button">Cancel</a>
  </form>
{% endblock after_panel %}


{% block action_buttons %}
{% endblock action_buttons %}
