{% extends "anvil_consortium_manager/base.html" %}
{% load static %}

{% load render_table from django_tables2 %}

{% block title %}Billing Projects{% endblock %}

{% block content %}
<div class="container">
  <div class="alert alert-info" role="alert">

      <form method="get">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <h2>Billing Projects</h2>

      {% render_table table %}

    </div>
  </div>

</div>

{% endblock content %}
