{% extends "anvil_consortium_manager/base.html" %}
{% load static %}

{% block title %}Group Group membership: {{ object }}{% endblock %}

{% block content %}


<h2>Group Group Membership Details</h2>
<div class="my-3 p-3 bg-light border rounded shadow-sm">
<ul>
    <li>Parent group: <a href="{{object.parent_group.get_absolute_url}}"> {{ object.parent_group}} </a></li>
    <li>Child group: <a href="{{object.child_group.get_absolute_url}}"> {{ object.child_group}} </a></li>
    <li>Role: {{ object.role }}</li>
    <li>Date added: {{ object.created }}</li>
    <li>Date modified: {{ object.modified }}</li>
  </ul>
</div>

{% if show_edit_links %}
<p>
  <a href="{% url 'anvil_consortium_manager:managed_groups:member_groups:delete' parent_group_slug=object.parent_group.name child_group_slug=object.child_group.name %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
</p>
{% endif %}

{% endblock content %}
