{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}

{% block title %}Group account membership: {{ object }}{% endblock %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Group</dt> <dd class="col-sm-10"><a href="{{ object.billing_project.get_absolute_url }}">{{ object.group }}</a></dd>
  <dt class="col-sm-2">Account</dt> <dd class="col-sm-10"><a href="{{ object.account.get_absolute_url }}">{{ object.account }}</a></dd>
  <dt class="col-sm-2">Role</dt> <dd class="col-sm-10">{{ object.role }}</dd>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
</dl>
{% endblock panel %}

{% block action_buttons %}
  {% if show_edit_links %}
    <p>
      <a href="{% url 'anvil_consortium_manager:managed_groups:member_accounts:delete' group_slug=object.group.name account_uuid=object.account.uuid %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
    </p>
  {% endif %}
{% endblock action_buttons %}
