{% extends "anvil_consortium_manager/base.html" %}
{% load static %}

{% block title %}Group Group membership: {{ object }}{% endblock %}

{% block content %}


<h2>Group Group Membership Details</h2>
<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <dl class="row">
    <dt class="col-sm-2">Parent group</dt> <dd class="col-sm-10"><a href="{{ object.billing_project.get_absolute_url }}">{{ object.parent_group }}</a></dd>
    <dt class="col-sm-2">Child group</dt> <dd class="col-sm-10"><a href="{{ object.account.get_absolute_url }}">{{ object.child_group }}</a></dd>
    <dt class="col-sm-2">Role</dt> <dd class="col-sm-10">{{ object.role }}</dd>
    <dt class="col-sm-2">Date created</dt> <dd class="col-sm-10">{{ object.created }}</dd>
    <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
  </dl>
</div>

{% if show_edit_links %}
<p>
  <a href="{% url 'anvil_consortium_manager:managed_groups:member_groups:delete' parent_group_slug=object.parent_group.name child_group_slug=object.child_group.name %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
</p>
{% endif %}

{% endblock content %}
