{% extends "anvil_consortium_manager/base.html" %}
{% load static %}

{% block title %}AnVIL Consortium Manager{% endblock %}

{% block content %}


<h1 class="pb-2 border-bottom">AnVIL Consortium Manager</h1>


<div class="album py-2">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <h5 class="card-header"><span class="fa-solid fa-heart-pulse mx-2"></span>AnVIL status</h5>
          <div class="card-body">
            <p>Check the status of AnVIL.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:status' %}" class="icon-link">Check status</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <h5 class="card-header"><span class="fa-solid fa-dollar-sign mx-2"></span>Billing projects</h5>
          <div class="card-body">
            <p>Interact with billing projects on AnVIL.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:billing_projects:list' %}" class="icon-link">List billing projects</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:billing_projects:import' %}" class="icon-link">Import a billing project</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% endif %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:billing_projects:audit' %}" class="icon-link">Audit billing projects</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <h5 class="card-header"><span class="fa-solid fa-user mx-2"></span>Accounts</h5>
          <div class="card-body">
            <p>
              View {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}or import{% endif %} accounts from AnVIL.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:accounts:list' %}" class="icon-link">List accounts</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:accounts:import' %}" class="icon-link">Import an account</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% endif %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:accounts:audit' %}" class="icon-link">Audit accounts</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <h5 class="card-header"><span class="fa-solid fa-user-group mx-2"></span>Managed groups</h5>
          <div class="card-body">
            <p>
              Interact with Managed Groups on AnVIL.
              {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}You can add accounts to a group so a the access for set of related accounts can be managed together.{% endif %}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:managed_groups:list' %}" class="icon-link">List groups</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:managed_groups:visualization' %}" class="icon-link">Group visualization</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:managed_groups:new' %}" class="icon-link">Create a new group</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:group_account_membership:new' %}" class="icon-link">Add an account to a group</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:group_group_membership:new' %}" class="icon-link">Add a group to a group</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% endif %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:managed_groups:audit' %}" class="icon-link">Audit groups</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
          </ul>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <h5 class="card-header"><span class="fa-solid fa-computer mx-2"></span>Workspaces</h5>
          <div class="card-body">
            <p>
              Interact with workspaces on AnVIL.
              {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}You can create or import workspaces and then share them with a group.{% endif%}
            </p>
          </div>

          <ul class="list-group list-group-flush">
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:workspaces:landing_page' %}" class="icon-link">Workspace types</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:workspaces:list_all' %}" class="icon-link">List all workspaces</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:workspace_group_sharing:new' %}" class="icon-link">Share a workspace with a group</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
            {% endif %}
            <li class ="list-group-item">
              <a href="{% url 'anvil_consortium_manager:workspaces:audit' %}" class="icon-link">Audit workspaces</a>
              <span class="fa-solid fa-angle-right"></span>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <footer class="py-5">

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-muted">© 2022 Adrienne Stilp</p>
      <p class="text-muted">AnVIL Consortium Manager v{{ app_version }}</p>
    </div>
  </footer>
</div>

{% endblock content %}
