<!-- Only include the ACM navbar if the user has view permission.-->
{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}

  <nav id="nav-acm" class="navbar navbar-expand-lg navbar-light" aria-label="AnVIL Consortium Manager navbar">
    <div class="container">

      <a class="navbar-brand" href="{% url 'anvil_consortium_manager:index' %}">ACM</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAnvilConsortiumManager" aria-controls="navbarAnvilConsortiumManager" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarAnvilConsortiumManager">

        <ul class="navbar-nav">

          {% block anvil_consortium_manager_nav_items %}

          <li class="nav-item">
              <a class="nav-link" href="{% url 'anvil_consortium_manager:status' %}">AnVIL status</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Billing Projects
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:billing_projects:list' %}">List billing projects</a>
              </li>

              {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
                <li>
                  <a class="dropdown-item" href="{% url 'anvil_consortium_manager:billing_projects:import' %}">Import a billing project</a>
                </li>
              {% endif %}

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:billing_projects:audit' %}">Audit billing projects</a>
              </li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accounts
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:accounts:list' %}">List accounts</a>
              </li>

              {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:accounts:import' %}">Import an account</a>
              </li>
              {% endif %}

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:accounts:audit' %}">Audit accounts</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Managed Groups
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:managed_groups:list' %}">List groups</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:managed_groups:visualization' %}">Group visualization</a>
              </li>
              {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:managed_groups:new' %}">Create a new group</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:group_account_membership:new' %}">Add an account to a group</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:group_group_membership:new' %}">Add a group to a group</a>
              </li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:managed_groups:audit' %}">Audit groups</a>
              </li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Workspaces
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:landing_page' %}">Workspace types</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:list_all' %}">List all workspaces</a>
              </li>
              {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspace_group_sharing:new' %}">Share a workspace with a group</a>
              </li>
              {% endif %}

              <li>
                <a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:audit' %}">Audit workspaces</a>
              </li>

            </ul>
          </li>

          {% endblock anvil_consortium_manager_nav_items %}

        </ul>

      </div>
    </div>
  </nav>
{% endif %}
