{% extends "base.html" %}
{% load static %}

{% block title %}Workspace group access: {{ object }}{% endblock %}

{% block content %}


<h2>Workspace Group Access details</h2>
<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Group: <a href="{{object.group.get_absolute_url}}"> {{ object.group}} </a></li>
    <li>Workspace: <a href="{{object.workspace.get_absolute_url}}"> {{ object.workspace}} </a></li>
    <li>Access: {{ object.access }}</li>
    <li>Date added: {{ object.created }}</li>
    <li>Date modified: {{ object.modified }}</li>
  </ul>
</div>

<p>
  <a href="{% url 'anvil_consortium_manager:workspace_group_access:update' pk=object.pk %}" class="btn btn-secondary" role="button">Update Access</a>
  <a href="{% url 'anvil_consortium_manager:workspace_group_access:delete' pk=object.pk %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
</p>

{% endblock content %}
