{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}

{% load render_table from django_tables2 %}

{% block title %}{{ workspace_type_display_name }}: {{ object }}{% endblock %}


{% block after_title %}
  <a class="btn btn-light" href="{{ object.get_anvil_url }}" target="_blank" role="button">
    <span class="fa-solid fa-arrow-up-right-from-square mx-1"></span>
    View on AnVIL
  </a>
{% endblock after_title %}

{% block pills %}
{% endblock pills %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Billing project</dt> <dd class="col-sm-10"><a href="{{ object.billing_project.get_absolute_url }}">{{ object.billing_project }}</a></dd>
  <dt class="col-sm-2">Name</dt> <dd class="col-sm-10">{{ object.name }}</dd>
  <dt class="col-sm-2">Date added</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
</dl>
  {% block workspace_data %}
  {% endblock workspace_data %}
{% endblock panel %}

{% block after_panel %}
  <div>
    <div class="card my-3">
      <div class="card-header">
        <span class="fa-solid fa-shield mx-2"></span>
        Authorization domains
      </div>
      <div class="card-body">
          {% render_table authorization_domain_table %}
      </div>
    </div>
  </div>
  <div class="my-3">
    <div class="accordion" id="accordionGroups">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingGroupsOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupsOne" aria-expanded="false" aria-controls="collapseGroupsOne">
            <span class="fa-solid fa-user-group mx-2"></span>
            View groups that this workspace is shared with
            <span class="badge mx-2 bg-secondary pill"> {{ group_sharing_table.rows|length }}</span>
          </button>
        </h2>
        <div id="collapseGroupsOne" class="accordion-collapse collapse" aria-labelledby="headingGroupsOne" data-bs-parent="#accordionGroups">
          <div class="accordion-body">
            {% render_table group_sharing_table %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock after_panel %}

{% block action_buttons %}
  <p>
    <a href="{% url 'anvil_consortium_manager:workspaces:audit_sharing' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">Audit sharing</a>

  {% if show_edit_links %}
    <a href="{% url 'anvil_consortium_manager:workspaces:sharing:new' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-primary" role="button">Share with a group</a>
  </p>

  <p>
    <div class="dropdown">
      <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="cloneWorkspaceMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Clone workspace
      </a>

      <ul class="dropdown-menu" aria-labelledby="cloneWorkspaceMenuLink">
        {% for workspace_type, workspace_name in registered_workspaces.items %}
          <li><a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:clone' billing_project_slug=object.billing_project.name workspace_slug=object.name workspace_type=workspace_type %}">{{ workspace_name }}</a></li>
        {% endfor %}

      </ul>
    </div>
  </p>

  <p>
    <a href="{% url 'anvil_consortium_manager:workspaces:update' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">Update</a>
    <a href="{% url 'anvil_consortium_manager:workspaces:delete' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
  {% endif %}
  </p>
{% endblock action_buttons %}
