{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}

{% load render_table from django_tables2 %}

{% block title %}{{ workspace_type_display_name }}: {{ object }}{% endblock %}

{% block pills %}
  {% if object.is_locked %}
  <span class="badge bg-danger"><span class="fa-solid fa-lock me-2"></span>Locked</span>
  {% endif %}

  <span class="badge bg-{% if has_access %}success{% else %}danger{% endif %}">
    <span class="me-2 fa-solid fa-{% if has_access %}lock-open{% else %}lock{% endif %}"></span>
    {% if has_access %}
      You have access to this workspace
    {% else %}
      No access to workspace
    {% endif %}
    <span class="ms-2 fa-solid fa-circle-question"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    data-bs-title="To have access to a workspace, you must have linked an AnVIL account, be in all of the authorization domains for the workspace, and have the workspace shared with you."
    ></span>
  </span>

  {% if object.is_requester_pays %}
  <span class="badge bg-warning text-dark"><span class="fa-solid fa-circle-dollar-to-slot me-2"></span>Requester pays
    <span class="ms-2 fa-solid fa-circle-question"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    data-bs-title="You must select a billing project when listing files or using data in this workspace."
    ></span>
  </span>
  {% endif %}

  {% block extra_pills %}
  {% endblock extra_pills %}

  {% if has_access or user.is_superuser %}
  <a class="badge bg-light text-dark btn btn-light" href="{{ object.get_anvil_url }}" target="_blank" role="button">
    <span class="fa-solid fa-arrow-up-right-from-square mx-1"></span>
    View on AnVIL
  </a>
  {% endif %}

{% endblock pills %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Billing project</dt> <dd class="col-sm-10">
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
      <a href="{{ object.billing_project.get_absolute_url }}">
    {% endif %}
      {{ object.billing_project }}
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
    </a>
    {% endif %}
  </dd>
  <dt class="col-sm-2">Name</dt> <dd class="col-sm-10">{{ object.name }}</dd>

  {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
  <dt class="col-sm-2">Date added</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
  {% endif %}
</dl>
  {% block workspace_data %}
  {% endblock workspace_data %}
{% endblock panel %}

{% block after_panel %}
  <div>
    <div class="card my-3">
      <div class="card-header">
        <span class="fa-solid fa-shield mx-2"></span>
        Authorization domains
      </div>
      <div class="card-body">
        <p>
          This table shows all Managed Groups that are used as an authorization domain for this Workspace.
        </p>
      {% render_table authorization_domain_table %}
      </div>
    </div>
  </div>

  {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
  <div class="my-3">
    <div class="accordion" id="accordionGroups">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingGroupsOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupsOne" aria-expanded="false" aria-controls="collapseGroupsOne">
            <span class="fa-solid fa-user-group mx-2"></span>
            View groups that this workspace is shared with
            <span class="badge mx-2 bg-secondary pill"> {{ group_sharing_table.rows|length }}</span>
          </button>
        </h2>
        <div id="collapseGroupsOne" class="accordion-collapse collapse" aria-labelledby="headingGroupsOne" data-bs-parent="#accordionGroups">
          <div class="accordion-body">
            <p>
              This table shows Managed Groups that this Workspace has been shared with.
            </p>
            {% render_table group_sharing_table %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock after_panel %}



{% block action_buttons %}

<div class="p-1">

  {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
  <a href="{% url 'anvil_consortium_manager:auditor:workspaces:sharing:by_workspace:all' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">Audit sharing</a>
  {% endif %}

</div>

{% if show_edit_links %}
<div class="p-1">

  <a href="{% url 'anvil_consortium_manager:workspaces:sharing:new' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-primary" role="button">Share with a group</a>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Update workspace
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:update:internal' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">Internal ACM info</a></li>
      <li><a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:update:requester_pays' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">Change requester pays status</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Clone workspace
    </button>
    <ul class="dropdown-menu">
      {% for workspace_adapter in registered_workspace_adapters %}
      <li><a class="dropdown-item" href="{% url 'anvil_consortium_manager:workspaces:clone' billing_project_slug=object.billing_project.name workspace_slug=object.name workspace_type=workspace_adapter.get_type %}">{{ workspace_adapter.get_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="p-1">
  {% if not object.is_locked %}
  <a href="{% url 'anvil_consortium_manager:workspaces:delete' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-danger" role="button">Delete on AnVIL</a>
  {% endif %}

</div>
{% endif %}


{% endblock action_buttons %}


{% block inline_javascript %}
<script>
  $(document).ready(function(){
      $('[data-bs-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock inline_javascript %}
