<span class="badge bg-{% if has_access %}success{% else %}danger{% endif %}">
    <span class="me-2 fa-solid fa-{% if has_access %}lock-open{% else %}lock{% endif %}"></span>
    {% if has_access %}
      You have access to this workspace
    {% else %}
      No access to workspace
    {% endif %}
    <span class="ms-2 fa-solid fa-circle-question"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    data-bs-title="To have access to a workspace, you must have linked an AnVIL account, be in all of the authorization domains for the workspace, and have the workspace shared with you."
    ></span>
  </span>
