<dl class="row">
  <dt class="col-sm-2">Billing project</dt> <dd class="col-sm-10">
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
      <a href="{{ workspace.billing_project.get_absolute_url }}">
    {% endif %}
      {{ workspace.billing_project }}
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
    </a>
    {% endif %}
  </dd>
  <dt class="col-sm-2">Name</dt> <dd class="col-sm-10">{{ workspace.name }}</dd>

  {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
  <dt class="col-sm-2">Date added</dt> <dd class="col-sm-10">{{ workspace.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ workspace.modified }}</dd>
  {% endif %}
</dl>
{% block workspace_data %}
{% endblock workspace_data %}
