{% extends "auditor/audit_review.html" %}
{% block title %}Account audit results{% endblock %}

{% block main_header %}
<h1>Account audit results</h1>
{% endblock main_header %}

{% block audit_explanation %}
{% include "auditor/snippets/account_audit_explanation.html" %}
{% endblock audit_explanation %}

{% block not_in_app %}
{% endblock not_in_app %}

{% block action_buttons %}
<div>
  <p>
    <a class="btn btn-primary" href="{% url 'anvil_consortium_manager:auditor:accounts:run' %}">Update audit</a>
  </p>

</div>
{% endblock action_buttons %}
