{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}


{% block title %}{{ object }}{% endblock %}


{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Workspace</dt> <dd class="col-sm-10">
    <a href="{{ object.workspace.get_absolute_url }}">{{ object.workspace }}</a>
  </dd>
  <dt class="col-sm-2">Ignored email</dt> <dd class="col-sm-10">{{ object.ignored_email }}</dd>
  <dt class="col-sm-2">Added by</dt> <dd class="col-sm-10">
    {% if user_detail_link %}
        <a href="{{ user_detail_link }}">{{ object.added_by }}</a>
    {% else %}
        {{ object.added_by }}
    {% endif %}
  </dd>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
</dl>
{% endblock panel %}


{% block action_buttons %}

{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
  <p>
    <p>
      <a href="{% url 'anvil_consortium_manager:auditor:workspaces:sharing:by_workspace:ignored:update' object.workspace.billing_project.name object.workspace.name object.ignored_email %}" class="btn btn-secondary" role="button">Update</a>
      <a href="{% url 'anvil_consortium_manager:auditor:workspaces:sharing:by_workspace:ignored:delete' object.workspace.billing_project.name object.workspace.name object.ignored_email %}" class="btn btn-danger" role="button">Stop ignoring</a>
    </p>
    </p>
{% endif %}
{% endblock action_buttons %}
